body {
  margin-top: 0px;
  margin-bottom: 0px; }

#container {
  max-width: 1280px;
  min-height: 720px;
  background-color: #000 !important;}

.img{
  width: 10%;
}
/*# sourceMappingURL=style.css.map */
